.CurrentWeather ul {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
  }
  
.CurrentWeather li {
    list-style: none;
    margin: 0;
    padding: 0;
  
    font-size: 15px;
    line-height: 20px;
  }
  
.CurrentWeather li:first-letter {
    text-transform: capitalize;
  }

  .CurrentWeather .humidity-wind {
    font-size: 12px;
  }

.CurrentWeather h1 {
    font-size: 45px;
    font-family: "Bree Serif", serif;
    color: #f5f4f4;
}

.WeatherTemperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
}

.WeatherTemperature strong {
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}

.WeatherTemperature .units {
    position: relative;
    font-size: 14px;
    top: -34px;
}

.WeatherTemperature .active {
    color: #f5f4f4;
    cursor: default;
    text-decoration: none;
}

.WeatherTemperature .active:hover {
    text-decoration: none;
}
  

